In [3]:
import datetime
import integration_tasks as integ
import imp

In [4]:
imp.reload(integ)

In [58]:
class TestPG(integ.PgSelect):
    
    def write(self, rows):
        print(len(rows))
        
        if len(rows) <= 0: return None
        
        columns = self.fill_columns(rows[0], self.columns)
        print(columns)
        
        print(datetime.datetime.now())
        
        dict_list = []
        for i, row in enumerate(rows):
            row_dict = dict(zip(columns, row))
            dict_list.append(row_dict)
            
        print(len(dict_list))
        
        print(dict_list[0])
        print(dict_list[-1])

In [59]:
start_time = datetime.datetime.now()
print(start_time)

task = TestPG()
task.columns = ['issued_date', 'logical_path', 'changed_value']
task.sql = "select to_timestamp(PH.issued_date/1000), PD.logical_path, PH.changed_value " + \
            "from point_history PH, point_master PM, point_desc PD " + \
            "where PH.path_id = PM.path_id " + \
            "  and PM.point_path = PD.point_path " + \
            "  and PH.issued_date >= %d " + \
            "  and PH.issued_date < %d " + \
            "order by issued_date, logical_path asc " + \
            ";"
            
task.sql = task.sql % (datetime.datetime(2017,4,1).timestamp() * 1000, 
                       datetime.datetime(2017,4,3).timestamp() * 1000)

print(task.sql)

task.run()

print(datetime.datetime.now() - start_time)

2018-02-14 14:32:21.089079
select to_timestamp(PH.issued_date/1000), PD.logical_path, PH.changed_value from point_history PH, point_master PM, point_desc PD where PH.path_id = PM.path_id   and PM.point_path = PD.point_path   and PH.issued_date >= 1490972400000   and PH.issued_date < 1491145200000 order by issued_date, logical_path asc ;
6061468
['issued_date', 'logical_path', 'changed_value']
2018-02-14 14:33:17.782879
6061468
{'issued_date': datetime.datetime(2017, 4, 1, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=540, name=None)), 'logical_path': '100HP AIR 압력', 'changed_value': '7.306'}
{'issued_date': datetime.datetime(2017, 4, 2, 23, 59, 46, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=540, name=None)), 'logical_path': '응축수탱크_G 펌프_1 상태', 'changed_value': 'Off'}
0:01:05.703634

  ## PostgreSQL 의 LG Point_History를 MongoDB로 옮기기

In [77]:
imp.reload(integ)

In [ ]:
sql = "select to_timestamp(PH.issued_date/1000), PD.logical_path, PH.changed_value " + \
        "from point_history PH, point_master PM, point_desc PD " + \
        "where PH.path_id = PM.path_id " + \
        "  and PM.point_path = PD.point_path " + \
        "  and PH.issued_date >= %d " + \
        "  and PH.issued_date < %d " + \
        "order by issued_date, logical_path asc " + \
        ";"

start_time = datetime.datetime.now()
print('Start:', start_time)

task = integ.Pg2Mongo()
task.columns = ['issued_date', 'logical_path', 'changed_value']

task.mg_collection = 'point_history'

from_date = datetime.datetime(2013, 7, 1)

while from_date < datetime.datetime.now():
    to_date = from_date + datetime.timedelta(days=10)
    
    task.sql = sql % (from_date.timestamp() * 1000, to_date.timestamp() * 1000)

    print(from_date, '~', to_date, ': ', datetime.datetime.now())
    task.run()
    
    from_date = to_date


# for year in range(2013, 2018):
#     for month in range(1, 13):
        
#         if datetime.datetime(year, month, 1) <= datetime.datetime(2014, 6, 1):
#             continue
        
#         from_date = datetime.datetime(year, month, 1)
        
#         if month < 12:
#             to_date = datetime.datetime(year, month + 1, 1)
#         else:
#             to_date = datetime.datetime(year + 1, 1, 1)
    
print('End:', datetime.datetime.now())
print(datetime.datetime.now() - start_time)

Start: 2018-02-14 20:48:28.229140
2013-07-01 00:00:00 ~ 2013-07-11 00:00:00 :  2018-02-14 20:48:28.229640
No result
2013-07-11 00:00:00 ~ 2013-07-21 00:00:00 :  2018-02-14 20:48:28.389607
77074
2013-07-21 00:00:00 ~ 2013-07-31 00:00:00 :  2018-02-14 20:48:31.025396
880404
2013-07-31 00:00:00 ~ 2013-08-10 00:00:00 :  2018-02-14 20:49:01.606631
1988115
2013-08-10 00:00:00 ~ 2013-08-20 00:00:00 :  2018-02-14 20:50:06.089393
452148
2013-08-20 00:00:00 ~ 2013-08-30 00:00:00 :  2018-02-14 20:50:21.151440
4673743
2013-08-30 00:00:00 ~ 2013-09-09 00:00:00 :  2018-02-14 20:52:40.612785
4796754
2013-09-09 00:00:00 ~ 2013-09-19 00:00:00 :  2018-02-14 20:55:05.877176
4727928
2013-09-19 00:00:00 ~ 2013-09-29 00:00:00 :  2018-02-14 20:57:27.155600
4702353
2013-09-29 00:00:00 ~ 2013-10-09 00:00:00 :  2018-02-14 20:59:47.066746
4689596
2013-10-09 00:00:00 ~ 2013-10-19 00:00:00 :  2018-02-14 21:02:07.374070
4642838
2013-10-19 00:00:00 ~ 2013-10-29 00:00:00 :  2018-02-14 21:04:29.944628
4614286
2013-10-29 00:00:00 ~ 2013-11-08 00:00:00 :  2018-02-14 21:06:48.809272
4477375
2013-11-08 00:00:00 ~ 2013-11-18 00:00:00 :  2018-02-14 21:09:06.765033
4778396
2013-11-18 00:00:00 ~ 2013-11-28 00:00:00 :  2018-02-14 21:11:35.177556
5092800
2013-11-28 00:00:00 ~ 2013-12-08 00:00:00 :  2018-02-14 21:14:09.275323
5170736
2013-12-08 00:00:00 ~ 2013-12-18 00:00:00 :  2018-02-14 21:16:45.471541
5072744
2013-12-18 00:00:00 ~ 2013-12-28 00:00:00 :  2018-02-14 21:19:15.045007
5154945
2013-12-28 00:00:00 ~ 2014-01-07 00:00:00 :  2018-02-14 21:21:49.343366
5712039
2014-01-07 00:00:00 ~ 2014-01-17 00:00:00 :  2018-02-14 21:24:45.102724
5792702
2014-01-17 00:00:00 ~ 2014-01-27 00:00:00 :  2018-02-14 21:27:48.652822
5838547
2014-01-27 00:00:00 ~ 2014-02-06 00:00:00 :  2018-02-14 21:30:53.048409
5815847
2014-02-06 00:00:00 ~ 2014-02-16 00:00:00 :  2018-02-14 21:33:48.868408
5567517
2014-02-16 00:00:00 ~ 2014-02-26 00:00:00 :  2018-02-14 21:36:38.934657
5509908
2014-02-26 00:00:00 ~ 2014-03-08 00:00:00 :  2018-02-14 21:39:28.988848
5580445
2014-03-08 00:00:00 ~ 2014-03-18 00:00:00 :  2018-02-14 21:42:17.058609
5685690
2014-03-18 00:00:00 ~ 2014-03-28 00:00:00 :  2018-02-14 21:45:10.304585
6340356
2014-03-28 00:00:00 ~ 2014-04-07 00:00:00 :  2018-02-14 21:48:19.173813
6884751
2014-04-07 00:00:00 ~ 2014-04-17 00:00:00 :  2018-02-14 21:51:47.601100
6934219
2014-04-17 00:00:00 ~ 2014-04-27 00:00:00 :  2018-02-14 21:55:15.169966
6934989
2014-04-27 00:00:00 ~ 2014-05-07 00:00:00 :  2018-02-14 21:58:41.533962
6901445
2014-05-07 00:00:00 ~ 2014-05-17 00:00:00 :  2018-02-14 22:02:08.125985
6899926
2014-05-17 00:00:00 ~ 2014-05-27 00:00:00 :  2018-02-14 22:05:35.810756
6933601
2014-05-27 00:00:00 ~ 2014-06-06 00:00:00 :  2018-02-14 22:09:04.395691
6694148
2014-06-06 00:00:00 ~ 2014-06-16 00:00:00 :  2018-02-14 22:12:24.575149
6811559
2014-06-16 00:00:00 ~ 2014-06-26 00:00:00 :  2018-02-14 22:15:51.987693
11816823
2014-06-26 00:00:00 ~ 2014-07-06 00:00:00 :  2018-02-14 22:21:49.161070
14436431
2014-07-06 00:00:00 ~ 2014-07-16 00:00:00 :  2018-02-14 22:29:04.340988
20797872
2014-07-16 00:00:00 ~ 2014-07-26 00:00:00 :  2018-02-14 22:39:40.607347
22168082
2014-07-26 00:00:00 ~ 2014-08-05 00:00:00 :  2018-02-14 22:50:51.220294
23403185
2014-08-05 00:00:00 ~ 2014-08-15 00:00:00 :  2018-02-14 23:02:50.044520
25118476

In [6]:
1+1

2